@import "../../node_modules/bootstrap/scss/bootstrap";
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.header {
  background-image: url(../imagenes/slider-1.png);
  width: 1366px;
  height: 768px;
}
.header__section {
  border-bottom: 1px solid orange;
  width: 1366px;
  height: 96px;
  margin: 0 auto;
}
.header__section--toplogo {
  margin-top: 33px;
  left: 100px;
  width: 129px;
  height: 30px;
  margin-left: 5%;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.header__nav--ul {
  justify-content: space-between;
  list-style: none;
  display: flex;
  margin-left: 810.5px;
  margin-right: 110.5px;
}
header__nav--items {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  left: 1190px;
  width: 75px;
  height: 96px;
}
.h1 {
  font-size: 48px;
  width: 554px;
  height: 115px;
  margin-top: 254px;
  margin-left: 101px;
  margin-right: 711px;
  color: #FFFFFF;
  opacity: 1;
  font-family: poppins, sans-serif;
}
.subtitulo__h1 {
  text-align: left;
  font-size: 21px;
  margin-top: 30px;
  margin-left: 101px;
  width: 343px;
  height: 42px;
  opacity: 1;
  color: #FFFFFF;
  font-family: sans-serif;
}
.button {
  margin-top: 53px;
  margin-right: 1121px;
  margin-left: 101px;
  width: 144px;
  height: 48px;
  background: #E0752F;
  border-radius: 25px;
  opacity: 1;
  letter-spacing: var(--unnamed-character-spacing-0-22);
  text-align: center;
  color: #FFFFFF;
  font-family: sans-serif;
}
  #about {
    border-left: solid #E0752F 32px;
    height: 384px;
}
  .h2__about {
    margin-left: 299px;
    margin-right: 665px;
    margin-top: 167px;
    width: 402px;
    height: 100px;
    font: normal normal 600 39px/45px Poppins;
    font-family: sans-serif;
}
  b {
    color: #E0752F;
    }
  .texto_largo {
    margin-top: 44px;
    margin-left: 299px;
    margin-right: 299px;
    width: 768px;
    height: 197px;
    font: normal normal normal 16px/28px Roboto;
    letter-spacing: 0.22px;
    font-family: Roboto, sans-serif;
  
}
  .seccion3 {
    margin-top: 164px;
    width: 100%;
    height: 768px;
    z-index: 1;
    position: relative;
}
  .contenedor2 {
    width: 398px;
    height: 768px;
    margin-left: 968px;
    background-color: #DCE1DA;
    opacity: 1;
    position: absolute;
    z-index: 2;
}
  .imgcabaña {
    background-image: url(../imagenes/section3-image.png);
    width: 966px;
    height: 552px;
    margin-top: 112px;
    margin-left: 200px;
    margin-right: 200px;
    position: absolute;
    z-index: 3;
}
  .recuadronaranja {
    background-color: #E0752F;
    width: 471px;
    height: 304px;
    margin-top: 360px;
    margin-left: 695px;
    margin-right: 200px;
    z-index: 4;
    position: absolute;
}
  .pchico {
    margin-top: 68px;
    margin-right: 248px;
    margin-left: 50px;
    color: #FFFFFF;
}
  .tituloh2 {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 192px;
    color: #FFFFFF;
}
  .pgrande {
    margin-top: 19.5px;
    margin-left: 50px;
    margin-right: 49px;
    color: #FFFFFF;
    letter-spacing: 0.22px;
    font-size: 16;
}
  .imgflechaizq {
  
    margin-left: 371.3px;
    margin-top: 32.5px;
    margin-right: 79.5px;
}  
  .imgflechader {
   margin-top: 32.5px;
   margin-left: 401.7px;
   margin-right: 49.3px;
  
}
  .services {
    width: 100%;
    height: 650px;
    z-index: 1;
    position: relative;

}
  .imagen_acordeon {
    background-image: url(../imagenes/section4-image.png);
    width: 770px;
    height: 768px;
    z-index: 2;
    position: absolute;
    margin-left: 596px;
}
  #acordeon {
    width: 669px;
    position: absolute;
    margin-left: 101px;
    margin-top: 144px;
    margin-right: 596px;
    z-index: 3;
}
.contact{
  width: 1366px;
  height: 768px;
  z-index: 1;
  margin-top: 120px;
}
.contenedor__contact{
  width: 398px;
  height: 768px;
  margin-left: 968px;
  background-color: #DCE1DA;
  opacity: 1;
  position: absolute;
  z-index: 2;
}
.imagen__contact{
  background-image: url(../imagenes/contact-image.png);
  z-index: 3;
  position: absolute;
  margin-left: 671px;
  width: 594px;
  height: 400px;
  margin-top: 192px;
}



.button__contact{
  width: 144px;
  height: 48px;
  border-radius: 25px;
  opacity: 1;
  margin-left: 101px;
}

  /*# sourceMappingURL=styles.css.map */